.card{
    width:100%;
    margin:auto auto;
    border: none;
  }
  ::ng-deep .p-card-body {
    background-color: #28272c;
  }
.container {
  display: flex;
  flex-direction: column;
  gap:2rem
}
input{
    width: 100%;
}
.align-center {
  display: flex;
  align-items: center;
}
h3, label{
  color:#4BE3AC;
}
.contact-icon{
  display: block;
  height: 20%;
}
.icon{
 font-size: 50px;
 color: #4BE3AC;
}
.icon-div{
  width: 10%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: #28272c;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}
:host ::ng-deep input.p-inputtext{
  background-color: #1d1c21;
}
:host ::ng-deep textarea.p-textarea{
  background-color: #1d1c21;
}