.card{
    width:100%;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    margin:auto auto;
    border-width: 5px;
    border-color: #4BE3AC;
}
.container {
  display: flex;
  flex-direction: column;
  gap:2rem
}
input{
    width: 100%;
}
.align-center {
  display: flex;
  align-items: center;
}
:host {
  
  margin-top: 7.5%;
}
h3, label{
  color:#4BE3AC;
}