
::ng-deep .p-carousel-item{
align-content: center !important;
padding: 0.5%;
}
p-carousel{
  width: 70%;
}
.divCarousel{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
#description{
  color: white;
}
.product-box {
  border-radius: 8px;
  margin: auto auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  background-color: #28272c;
  
}
.skills{
  color: white;
}
:host
{
  margin-top: 5%;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
.p-button-text.p-button-secondary {
    background: transparent;
    border-color: #4BE3AC !important;
    color: #4BE3AC !important;
}
.p-carousel-next-button{
  background-color: #4BE3AC;
}