<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1 style="color: white;">PraT.</h1>
        </div>
        <div class="col-sm-5 routing-link" >          
                <ul class='d-flex justify-content-end gap-3 list-unstyled'>
                    <li>
                        <h4>Home</h4>
                    </li>
                    <li>
                        <h4><a routerLink="/skills">Skills</a></h4>
                    </li>
                    <li>
                        <h4><a routerLink="/work">Work</a></h4>
                    </li>
                    <li>
                        <h4>Contact</h4>
                    </li>
                </ul>            
        </div>
    </div>
</div>
