<div class="container">
  <a routerLink="/"><h1 style="color: white;">PraT<span style="color: aquamarine;">.</span></h1></a>

  <ul>
    <li><h3><a routerLink="/" routerLinkActive='active'[routerLinkActiveOptions]="{ exact: true }">Home</a></h3></li>
    <li><h3><a routerLink="/skills" routerLinkActive='active'>Skills</a></h3></li>
    <li><h3><a routerLink="/work" routerLinkActive='active'>Work</a></h3></li>
    <li><h3><a routerLink="/contact" routerLinkActive='active'>Contact</a></h3></li>
  </ul>
</div>
