ul{
    list-style-type: none;
}
li{
    display: inline;
    float: right;
    color: #4BE3AC;
    margin:0% 1%;
}
.container{
    margin-left: 20% !important;
    display: block;
}
li :hover{
    cursor: pointer;
}
