<div class="container">
    <div class="row">
        <div class="col-sm-7">
           <a routerLink="/"><h1 style="color: white;">PraT<span style="color: aquamarine;">.</span></h1></a> 
        </div>
        <div class="col-sm-5 routing-link" >          
                <ul class='d-flex justify-content-end gap-3 list-unstyled'>
                    <li>
                        <h3><a routerLink="/">Home</a></h3>
                    </li>
                    <li>
                        <h3><a routerLink="/skills">Skills</a></h3>
                    </li>
                    <li>
                        <h3><a routerLink="/work">Work</a></h3>
                    </li>
                    <li>
                        <h3><a routerLink="/contact">Contact</a></h3>
                    </li>
                </ul>            
        </div>
    </div>
</div>
