ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; /* Allows wrapping on small screens */
}

li {
  color: #4BE3AC;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  flex-wrap: wrap; /* To make the layout responsive */
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
