<div class="container text">
    <div class="row">
        <div class="col-6 intro">
            <div class="mains">
                <div class="designation">
                    <h3>Software Developer</h3>
                </div>
                <div>
                    <h1 id="title">
                        Hello I'm <br><span>Prateek</span>
                    </h1>
                </div>
                <div>
                    <p id="intro">I excel at crafting elegant digital experience and I am proficient in various programming languages
                        and technologies</p>
                </div>
                <div>
                    <div>
                        <div style="display: inline;">
                            <button style="border-radius: 999px; height: auto;"><a href="../../../assets/Resume.pdf" download="Prateek_Agarwal">DOWNLOAD CV</a></button>
                            <button class="icon">
                                <a href={{git}}>
                                    <i class="bi bi-github"></i>
                                </a>
                            </button>
                            <button class="icon">
                                <a href="{{lkdn}}">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="image-wrapper">
                <svg class="neon-ring" viewBox="0 0 200 200">
                    <circle
                    cx="100"
                    cy="100"
                    r="100"
                    stroke="#00ffcc"
                    stroke-width="2"
                    fill="none"
                    stroke-dasharray="30 10 10 5 20 15 5 8"
                    stroke-linecap="round"
                    />
                </svg>
                <img src='../../../assets/photo1.jpeg'  class="profile-image" alt="">
            </div>
        </div>
    </div>
</div>