.text{
    color:white;
}
span{
    color: #4BE3AC;
}
#title{
    font-size: 100px;
}
#intro{
    font-size: 20px;
}
.icon{
    border-radius: 50%;
   
}
button{
    background: transparent;
    border: 2.5px,solid,#4BE3AC;
    margin: auto 1%;
}
a{
    color: #4BE3AC;
    text-decoration: none;
}