<div class="container text">
    <div class="row">
        <div class="col-6">
            <div class="designation">
                <h3>Software developer</h3>
            </div>
            <div>
                <h1 id="title">
                    Hello I'm <br><span>Prateek</span>
                </h1>
            </div>
            <div>
                <p id="intro">I excel at crafting elegant digital experience and I am proficient in various programming languages
                    and technologies</p>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <button style="border-radius: 10%; border-color: white;">Download CV</button>
                        <button>
                            <i class="bi bi-github"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="https://toppng.com/uploads/preview/person-png-11553989513mzkt4ocbrv.png"  style="height: 100%; width: 100%; border: 5px dotted white; border-radius: 50%;" alt="">
        </div>
    </div>
</div>