<p>work works!</p>
@for(work of works;track work){
<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
        <img alt="Card" class="w-full" src="../../../assets/{{work.img}}" style="background-color: white;"/>
    </ng-template>
    <ng-template #title> {{work.name}} </ng-template>
    <ng-template #subtitle>{{work.duration}}</ng-template>
    <p>
        {{work.content}}
    </p>
    <ng-template #footer>
        <div class="flex gap-4 mt-1">
            <!-- <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
            <p-button label="Save" class="w-full" styleClass="w-full" /> -->
        </div>
    </ng-template>
</p-card>
}